@using Domain.Persistence;
@model ShoppingBag
@{
    var shoppingBagData = ViewData["shoppingBag"];
    var discountString = ViewData["Discount"].ToString();
    double discount = int.Parse(discountString);
}
<h1>Shopping bag @Model.Customer.UserName</h1>
<table>
    @{
        double amount = 0; double itemAmount = 0;
    }
    @foreach(var shoppingItem in Model.Items)
    {
        amount += shoppingItem.Product.Price * shoppingItem.Quantity;
        itemAmount += shoppingItem.Quantity;
        <tr>
            <td class="border-1 text-center px-2" width="100px">@shoppingItem.Product.Name</td>
            <td class="border-1 text-center px-2" width="100px">@shoppingItem.Quantity</td>
        </tr>
    }
</table>
@{
    var finalCount = (amount * (100 - discount)) / 100;
}
<p>@finalCount with a @discount % discount</p>

