@using Bikeshop.Application.ViewModel;
@using Domain.Persistence;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

@model ListProductVM
@{
}

<h1>Products</h1>
<div class="container">
    <div>
        @if (signInManager.IsSignedIn(User))
        {
            <div class="d-flex w-full justify-content-around mt-5 flex-wrap">
                @foreach (ProductVM product in Model.Products)
                {
                    <div class="pb-0 pt-3 px-3 border m-3 cardW">
                        <p class="text-center w-full font-weight-bold">@product.Name</p>
                        <a class="fullW bg-success text-light p-2 rounded fullWIdth" asp-action="Details" asp-route-id="@product.Id">Buy</a>
                        <p class="text-center w-full font-weight-bold mt-3">€@product.Price</p>
                    </div>
                }
            </div>
        }   
    </div>
</div>

<style>
    .cardW {width: 250px}
    .fullW {width: 100%}
</style>