@model ShoppingItem
@{
    Product product = ViewBag.product;
}
<h1>@product.Name</h1>
<form asp-action="Shop">
    <div>
        <label>Quantity</label>
        <input asp-for="Quantity" type="number"/>
    </div>
    <input type="hidden" value="@product.Id" asp-for="ProductID"/>
    <input type="hidden" value="@product" asp-for="Product"/>
    <button type="submit">Submit</button>
</form>
