@model ProductModel
@{
}

<h1>Products</h1>
<div class="container">
    <div>
        <form asp-action="Index" method="post"  class="d-flex w-full justify-content-around mt-5 flex-wrap">
            <div class="d-flex w-full justify-content-around mt-5 flex-wrap">
                @foreach(Product product in Model.Products)
                {
                    <div class="pb-0 pt-3 px-3 border m-3 width">
                        <p class="text-center w-full font-weight-bold">@product.Name</p>
                        <a class="bg-success text-light p-2 rounded fullWIdth" asp-action="Details" asp-route-id="@product.Id">Buy</a>
                        <p class="text-center w-full font-weight-bold mt-3">€@product.Price</p>
                    </div>
                }
            </div>
            <div  class="d-flex w-full justify-content-around mt-5 flex-wrap">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <p>
                        @if (i != Model.CurrentPageIndex)
                        {
                            <a href="javascript:PagerClick(@i);">@i</a>
                        }
                        else
                        {
                            <p><span> @i </span></p> 
                        }
                    </p>
                }
            </div>
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex"/>
        </form>
    </div>
</div>
<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
<style>
    .width {
        width: 150px;
    }
    .fullWIdth{
        width: 100%;
        display: block;
        text-align: center;
    }
</style>
